{% extends 'base/base.html' %}

{% block css %}
    <style>
        .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 13%;
        height: 20px;
        margin: 0 auto;
        }
        .lds-ellipsis div {
            position: absolute;
            top: 25%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: green;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(24px, 0);
            }
        }
    </style>
{% endblock css %}

{% block content %}
    <!-- main content -->
    <main class="main">
        <section class="courses mheight" id="cours_post">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12 mb-5">
                        <h2>Ajouter chapitre</h2>
                    </div>
                    <div class="col-md-12">
                        <form class="form-add-course">
                            <div class="mb-3">
                                <label for="title">Titre du chapitre</label>
                                <input type="text" id="title" v-model="titre" />
                            </div>
                            <div class="mb-2">
                                <label for="description">Description</label>
                                <textarea v-model="description" id="description"></textarea>
                            </div>
                            <div>
                                <button @click.prevent='postChapitre' v-if="!is_submited" type="button" class="btn-add">Enregister</button>
                                <div class="lds-ellipsis" v-if='is_submited'>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block vuejs %}
    <script>
        new Vue({
            el: '#cours_post',
            data: {
                titre: "",
                description: "",
                is_submited: false,
            },
            delimiters: ["${", "}"],
            methods: {
                postChapitre: function() {
                    if (!this.titre) {
                        Swal.fire({
                            icon: 'warning',
                            html: "<h4>Veuillez remplir le champs Titre.</h4>",
                        });
                    }
                    else if (!this.description) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs Description.</h4>',
                        });
                    } else {
                        this.is_submited = true
                        let formData = new FormData();
                        formData.append('titre_cour', this.titre);
                        formData.append('description', this.description);
                        formData.append('cours', '{{ cours.slug }}');
                        axios.defaults.xsrfCookieName = 'csrftoken';
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                        axios.post("{% url 'post_chapitre' %}", formData, {})
                        .then((response) => {
                            if (response.data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                window.location.replace(response.data.url)
                                this.is_submited = false

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: response.data.message,
                                    // timer: 2000
                                });
                                console.log(response.data)
                                this.is_submited = false
                            }
                        })
                        .catch((err) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Une erreur est survenu veuillez reessayer',
                                footer: "<a href>Les developpeurs s'excusent pour les desagrements?</a>",
                                timer: 3000
                            });
                            console.log(err);
                            this.is_submited = false
                        })
                    }
                },
            },
        })
    </script>
{% endblock vuejs %}