{% extends 'base/base.html' %}
{% load static %}
{% load my_filter %}

{% block header %}
    {% include "base/includes/header.html" %}
{% endblock header %}

{% block content %}
    <!-- main content -->
    <main class="main">
        <section class="courses">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h2>Chapitre du cours.</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{% url 'add_chapitre' detail.slug %}">
                            <button type="button" class="btn-add">Ajouter un chapitre</button>
                        </a>
                    </div>
                </div>
                <div class="row r-reverse">
                    <div class="col-md-4">
                        <div class="course-info">
                            <img src="{{ detail.image.url }}" alt="{{ detail.titre }}" class="img-fluid"/>
                            <h3>{{ detail.titre }}</h3>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="chapitres">
                            <div id="accordion">
                                {% for item in detail.cours_chapitre.all|ordering:"date_add" %}
                                    {% if forloop.first %}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        {{ item.titre }} #{{ forloop.counter }}
                                                    </button>
                                                </h5>
                                            </div>
                                        
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card">
                                            <div class="card-header" id="headingTwo-{{ forloop.counter }}">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseTwo-{{ forloop.counter }}">
                                                        {{ item.titre }} #{{ forloop.counter }}
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo-{{ forloop.counter }}" class="collapse" aria-labelledby="headingTwo-{{ forloop.counter }}" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% empty %}
                                    <h3>Pas de chapitre disponible pour ce cours</h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block vuejs %}
    
{% endblock vuejs %}