{% extends 'base/base.html' %}

{% block header %}
    {% include "base/includes/header.html" %}
{% endblock header %}

{% block content %}
    <!-- main content -->
    <main class="main">
        <section class="courses">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h2>Cours les plus recents.</h2>
                    </div>

                    {% for item in recent %}
                        <div class="col-md-4">
                            <a href="{% url 'cours' item.slug %}">
                                <div class="card mb-3">
                                    <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.titre }}">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ item.titre }}</h3>
                                        <p class="card-text">{{ item.description|truncatechars:"10" }}</p>
                                        <p class="card-text"><small class="text-muted">{{ item.publication|date:"d F Y" }}</small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block vuejs %}
    
{% endblock vuejs %}
    

        