{% extends 'base/base.html' %}


{% block content %}
    <!-- main content -->
    <main class="main">
        <section class="courses mheight">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <h2>Mes cours</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{% url 'add_cours' %}">
                            <button type="button" class="btn-add">Ajouter cours</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    {% for item in cours %}
                        <div class="col-md-4">
                            <a href="{% url 'cours' item.slug %}">
                                <div class="card mb-3">
                                    <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.titre }}">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ item.titre }}</h3>
                                        <p class="card-text">{{ item.description|truncatechars:"10" }}</p>
                                        <p class="card-text"><small class="text-muted">{{ item.publication|date:"d F Y" }}</small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block vuejs %}
    
{% endblock vuejs %}