{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Courseapp</title>

        {% block css %}
          
        {% endblock css %}
    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="{% url 'dashbord' %}" class="navbar-brand">Mon Dashbord</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Déconnexion</button>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
                </a>
            {% endif %}
        </nav>

        {% block header %}

        {% endblock header %}

        {% block content %}
          
        {% endblock %}

        <!-- footer -->
        <footer class="footer text-center">
            <small>&copy; 2020 Tout Droit Reservé</small>
        </footer>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        {% block vuejs %}
          
        {% endblock vuejs %}
    </body>
</html>