*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: cursive;
    font-size: 1.4rem;
}

/* General */
.r-reverse{
    flex-direction: row-reverse;
}

button{
    cursor: pointer;
}

button:focus,
input:focus{
    outline: none;
}

/* header */
.header{
    position: relative;
    height: 70vh;
}

.header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.header .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 50%;
}

.header .header-content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.header__chapitre{
    height: 40vh;
}


/* main */
.main{
    min-height: 10rem;
}


/* all sections */
.courses{
    padding: 2rem;
}

.courses h2{
    font-size: 2rem;
}

.courses a{
    color: initial;
}

.courses a:hover{
    text-decoration: none;
}

.courses .card img{
    height: 13rem;
    object-fit: cover;
}

.courses .card h3{
    font-weight: bold;
}

.courses .btn-add{
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(45, 194, 157);
    border: 1px solid transparent;
    border-radius: .3rem;
}

.course-info img{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.chapitres .card{
    margin-bottom: 1rem;
}

.chapitres .card .card-header .btn-link{
    height: 100%;
    width: 100%;
    text-align: left;
    color: initial;
    text-decoration: none;
    font-size: 1.4rem;
}

.chapitres .card .card-header .btn-link:hover{
    text-decoration: none;
}

.chapitres .card p{
    font-size: 1.1rem;
}

.box-login{
    min-height: calc(100vh - 185px);
}

.box-login .form-login{
    width: 30rem;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0px 0px 18px 1px #efefefe8;
    border-radius: .5rem;
}

.box-login .form-login label{
    font-size: 1.2rem;
}

.box-login .form-login input{
    width: 100%;
    padding: .6rem 1.5rem;
    border: 1px solid rgb(107, 170, 253);
    border-radius: .3rem;
}

.box-login .form-login button{
    border: 1px solid transparent;
    background-color: #28a745;
    color: white;
    padding: .6rem 1.5rem;
    border-radius: .3rem;
}

.profil-box{
    position: relative;
}

.profil-box .profil{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.profil-box .profil img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profil-box .profil-btn{
    position: absolute;
    top: 100%;
    right: 0;
    padding: 3rem 1rem;
    background-color: white;
    border-radius: .3rem;
    box-shadow: 0px 0px 18px 1px #efefefe8;
    visibility: hidden;
}

.profil-box:hover .profil-btn button{
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    color: white;
    background-color: rgb(39, 214, 199);
    border: 1px solid transparent;
}

.profil-box:hover .profil-btn{
    visibility: visible;
}

.mheight{
    min-height: calc(100vh - 145px);
}

.form-add-course input,
.form-add-course textarea{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: 1px solid rgba(73, 73, 73, 0.651);
}

.form-add-course textarea{
    min-height: 10rem;
    resize: none;
}

.form-add-course .btn-add{
    padding: .6rem 3rem;
    border: 1px solid transparent;
    border-radius: .3rem;
    background-color: rgb(41, 177, 154);
    color: white;
}


/* footer */
.footer{
    padding: 1.5rem 0;
    background-color: black;
    color: white;
}

.footer small{
    font-size: .8rem;
}